Testing/Web References/ISProviderService/ProviderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateAMRProvider">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ProviderData" type="tns:ProviderData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProviderData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProviderId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="License" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateAMRProviderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAMRProviderResult" type="tns:ProviderResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProviderResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProviderId" type="s:long" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateAMRProviderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAMRProvider" />
  </wsdl:message>
  <wsdl:message name="CreateAMRProviderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAMRProviderResponse" />
  </wsdl:message>
  <wsdl:portType name="ProviderWSSoap">
    <wsdl:operation name="CreateAMRProvider">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create AMR Provider</wsdl:documentation>
      <wsdl:input message="tns:CreateAMRProviderSoapIn" />
      <wsdl:output message="tns:CreateAMRProviderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProviderWSSoap" type="tns:ProviderWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAMRProvider">
      <soap:operation soapAction="http://tempuri.org/CreateAMRProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProviderWSSoap12" type="tns:ProviderWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAMRProvider">
      <soap12:operation soapAction="http://tempuri.org/CreateAMRProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProviderWS">
    <wsdl:port name="ProviderWSSoap" binding="tns:ProviderWSSoap">
      <soap:address location="http://localhost:63407/ProviderService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProviderWSSoap12" binding="tns:ProviderWSSoap12">
      <soap12:address location="http://localhost:63407/ProviderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>