Testing/Web References/ISAuthenticationService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthenticateInterface">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateInterfaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateInterfaceResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthenticationResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateInterfaceSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateInterface" />
  </wsdl:message>
  <wsdl:message name="AuthenticateInterfaceSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateInterfaceResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationWSSoap">
    <wsdl:operation name="AuthenticateInterface">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticate Interface</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateInterfaceSoapIn" />
      <wsdl:output message="tns:AuthenticateInterfaceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationWSSoap" type="tns:AuthenticationWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateInterface">
      <soap:operation soapAction="http://tempuri.org/AuthenticateInterface" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationWSSoap12" type="tns:AuthenticationWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateInterface">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateInterface" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationWS">
    <wsdl:port name="AuthenticationWSSoap" binding="tns:AuthenticationWSSoap">
      <soap:address location="http://www.accessmyrecordsportal.com/QAIntegrationWS/AuthenticationService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationWSSoap12" binding="tns:AuthenticationWSSoap12">
      <soap12:address location="http://www.accessmyrecordsportal.com/QAIntegrationWS/AuthenticationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>