Testing/Web References/AuthenticationService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthenticateInterface">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateInterfaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateInterfaceResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthenticationResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="LoginType" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstLogin" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestion2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserRoleLink" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ResetPassword" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenticatePatientInterface">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticatePatientInterfaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticatePatientInterfaceResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="LoginType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePatientPasswordAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="PatientId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePatientPasswordAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePatientPasswordAdminResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeProviderPasswordAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ProviderId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeProviderPasswordAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeProviderPasswordAdminResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientSecurityInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PatientId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientSecurityInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPatientSecurityInfoResult" type="tns:PatientSecurityData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PatientSecurityData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SecurityQuestionId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SecurityQuestionId2" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangeSecurityQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="LoginType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="QuestionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QuestionId2" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Answer2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeSecurityQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeSecurityQuestionResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecurityQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LoginType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecurityQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSecurityQuestionResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientLastLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PatientId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientLastLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPatientLastLoginResult" type="tns:PatientLoginData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PatientLoginData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastLoginDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LoginType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Answer2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResetPasswordResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetLockedAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetLockedAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResetLockedAccountResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogoutUserResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateCareProvider">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateCareProviderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateCareProviderResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateMedicalSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateMedicalSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateMedicalSummaryResult" type="tns:AuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTypeLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="LoginType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RoleLink" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTypeLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserTypeLinkResult" type="tns:UserData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateInterfaceSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateInterface" />
  </wsdl:message>
  <wsdl:message name="AuthenticateInterfaceSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateInterfaceResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticatePatientInterfaceSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticatePatientInterface" />
  </wsdl:message>
  <wsdl:message name="AuthenticatePatientInterfaceSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticatePatientInterfaceResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePatientPasswordAdminSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePatientPasswordAdmin" />
  </wsdl:message>
  <wsdl:message name="ChangePatientPasswordAdminSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePatientPasswordAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeProviderPasswordAdminSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeProviderPasswordAdmin" />
  </wsdl:message>
  <wsdl:message name="ChangeProviderPasswordAdminSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeProviderPasswordAdminResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatientSecurityInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientSecurityInfo" />
  </wsdl:message>
  <wsdl:message name="GetPatientSecurityInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientSecurityInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeSecurityQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeSecurityQuestion" />
  </wsdl:message>
  <wsdl:message name="ChangeSecurityQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeSecurityQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecurityQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecurityQuestion" />
  </wsdl:message>
  <wsdl:message name="GetSecurityQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecurityQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatientLastLoginSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientLastLogin" />
  </wsdl:message>
  <wsdl:message name="GetPatientLastLoginSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientLastLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ResetLockedAccountSoapIn">
    <wsdl:part name="parameters" element="tns:ResetLockedAccount" />
  </wsdl:message>
  <wsdl:message name="ResetLockedAccountSoapOut">
    <wsdl:part name="parameters" element="tns:ResetLockedAccountResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutUserSoapIn">
    <wsdl:part name="parameters" element="tns:LogoutUser" />
  </wsdl:message>
  <wsdl:message name="LogoutUserSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateCareProviderSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateCareProvider" />
  </wsdl:message>
  <wsdl:message name="AuthenticateCareProviderSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateCareProviderResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateMedicalSummarySoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateMedicalSummary" />
  </wsdl:message>
  <wsdl:message name="AuthenticateMedicalSummarySoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateMedicalSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserTypeLinkSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserTypeLink" />
  </wsdl:message>
  <wsdl:message name="GetUserTypeLinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserTypeLinkResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationWSSoap">
    <wsdl:operation name="AuthenticateInterface">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticate Interface</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateInterfaceSoapIn" />
      <wsdl:output message="tns:AuthenticateInterfaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticatePatientInterface">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Patient Authenticate Interface</wsdl:documentation>
      <wsdl:input message="tns:AuthenticatePatientInterfaceSoapIn" />
      <wsdl:output message="tns:AuthenticatePatientInterfaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change Password</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePatientPasswordAdmin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change Patient Password Admin</wsdl:documentation>
      <wsdl:input message="tns:ChangePatientPasswordAdminSoapIn" />
      <wsdl:output message="tns:ChangePatientPasswordAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeProviderPasswordAdmin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change Provider Password Admin</wsdl:documentation>
      <wsdl:input message="tns:ChangeProviderPasswordAdminSoapIn" />
      <wsdl:output message="tns:ChangeProviderPasswordAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientSecurityInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Patient Security Info</wsdl:documentation>
      <wsdl:input message="tns:GetPatientSecurityInfoSoapIn" />
      <wsdl:output message="tns:GetPatientSecurityInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSecurityQuestion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change Security Question</wsdl:documentation>
      <wsdl:input message="tns:ChangeSecurityQuestionSoapIn" />
      <wsdl:output message="tns:ChangeSecurityQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityQuestion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Security Question</wsdl:documentation>
      <wsdl:input message="tns:GetSecurityQuestionSoapIn" />
      <wsdl:output message="tns:GetSecurityQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientLastLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Patient Last Login</wsdl:documentation>
      <wsdl:input message="tns:GetPatientLastLoginSoapIn" />
      <wsdl:output message="tns:GetPatientLastLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reset Password</wsdl:documentation>
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetLockedAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reset Locked Account</wsdl:documentation>
      <wsdl:input message="tns:ResetLockedAccountSoapIn" />
      <wsdl:output message="tns:ResetLockedAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogoutUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logout User</wsdl:documentation>
      <wsdl:input message="tns:LogoutUserSoapIn" />
      <wsdl:output message="tns:LogoutUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCareProvider">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticate Care Provider</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateCareProviderSoapIn" />
      <wsdl:output message="tns:AuthenticateCareProviderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateMedicalSummary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticate Medical Summary</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateMedicalSummarySoapIn" />
      <wsdl:output message="tns:AuthenticateMedicalSummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeLink">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get User Info From Login Type &amp; Role Link</wsdl:documentation>
      <wsdl:input message="tns:GetUserTypeLinkSoapIn" />
      <wsdl:output message="tns:GetUserTypeLinkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationWSSoap" type="tns:AuthenticationWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateInterface">
      <soap:operation soapAction="http://tempuri.org/AuthenticateInterface" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticatePatientInterface">
      <soap:operation soapAction="http://tempuri.org/AuthenticatePatientInterface" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePatientPasswordAdmin">
      <soap:operation soapAction="http://tempuri.org/ChangePatientPasswordAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeProviderPasswordAdmin">
      <soap:operation soapAction="http://tempuri.org/ChangeProviderPasswordAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientSecurityInfo">
      <soap:operation soapAction="http://tempuri.org/GetPatientSecurityInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSecurityQuestion">
      <soap:operation soapAction="http://tempuri.org/ChangeSecurityQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityQuestion">
      <soap:operation soapAction="http://tempuri.org/GetSecurityQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientLastLogin">
      <soap:operation soapAction="http://tempuri.org/GetPatientLastLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetLockedAccount">
      <soap:operation soapAction="http://tempuri.org/ResetLockedAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutUser">
      <soap:operation soapAction="http://tempuri.org/LogoutUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCareProvider">
      <soap:operation soapAction="http://tempuri.org/AuthenticateCareProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateMedicalSummary">
      <soap:operation soapAction="http://tempuri.org/AuthenticateMedicalSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeLink">
      <soap:operation soapAction="http://tempuri.org/GetUserTypeLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationWSSoap12" type="tns:AuthenticationWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateInterface">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateInterface" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticatePatientInterface">
      <soap12:operation soapAction="http://tempuri.org/AuthenticatePatientInterface" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePatientPasswordAdmin">
      <soap12:operation soapAction="http://tempuri.org/ChangePatientPasswordAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeProviderPasswordAdmin">
      <soap12:operation soapAction="http://tempuri.org/ChangeProviderPasswordAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientSecurityInfo">
      <soap12:operation soapAction="http://tempuri.org/GetPatientSecurityInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSecurityQuestion">
      <soap12:operation soapAction="http://tempuri.org/ChangeSecurityQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityQuestion">
      <soap12:operation soapAction="http://tempuri.org/GetSecurityQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientLastLogin">
      <soap12:operation soapAction="http://tempuri.org/GetPatientLastLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetLockedAccount">
      <soap12:operation soapAction="http://tempuri.org/ResetLockedAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutUser">
      <soap12:operation soapAction="http://tempuri.org/LogoutUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCareProvider">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateCareProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateMedicalSummary">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateMedicalSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeLink">
      <soap12:operation soapAction="http://tempuri.org/GetUserTypeLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationWS">
    <wsdl:port name="AuthenticationWSSoap" binding="tns:AuthenticationWSSoap">
      <soap:address location="http://localhost:61065/AuthenticationService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationWSSoap12" binding="tns:AuthenticationWSSoap12">
      <soap12:address location="http://localhost:61065/AuthenticationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>